POSTGRES_USER=tennisly
POSTGRES_PASSWORD=tennisly_dev
POSTGRES_DB=tennisly
POSTGRES_PORT=5432
REDIS_PORT=6379
KAFKA_EXTERNAL_PORT=9094
PGADMIN_EMAIL=admin@tennisly.dev
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
