POSTGRES_USER=tennisly
POSTGRES_PASSWORD=tennisly_dev
POSTGRES_DB=tennisly
POSTGRES_PORT=5432
REDIS_PORT=6379
KAFKA_EXTERNAL_PORT=9094
PGADMIN_EMAIL=admin@tennisly.dev
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
REDIS_COMMANDER_PORT=8081
KAFKA_UI_PORT=8082
ELASTICSEARCH_PORT=9200
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
